
<div class="row justify-content-center mt-5"> 
  <div class="col-4">
    <%if @director.errors.any? %>
      <% @director.errors.full_messages.each do |msg| %>
        <div class="row justify-content-center mt-2">
          <p class="text-center text-white"><%= msg %></p>
        </div>
      <% end %>
    <% end %>
    <%= form_with(model: @director, class: 'p-3') do |form| %> 
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", placeholder: 'Nome' %>
      </div>

      <div class="mb-3">
        <%= form.label :nationality, class: "form-label" %>
        <%= form.select :nationality, Director.nationalities, {prompt: 'Escolha uma nacionalidade'}, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :birthday, class: "form-label" %>
        <%= form.date_field :birthday, class: "form-control", placeholder: 'Nome' %>
      </div>

      <div class="form-group">
        <%= form.label :gender_id, 'Gênero' %>
        <%= form.select :gender_id, Gender.pluck(:name, :id), { prompt: 'Selecione um gênero' }, class: 'form-control' %>
      </div>

      <div class="d-grid mt-2">
        <%= form.submit 'Enviar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>