<section id="catalog" class="full-height d-flex align-items-center justify-content-center bg-dark text-white">
  <div class="text-center">
    <h1>Bem-vindo à plataforma Catalogo de Filmes</h1>
    <p>Oferecemos o melhor acervo de filmes.</p>
    <div class="container row d-flex align-items-center justify-content-center ">
      <% if @films_on_display.present? %>
        <p>Destaques</p>

        <% @films_on_display.each do |movie| %>
          <div class="card ms-1 me-1 img-box-index" style="width: 10rem;">
            <%= image_tag movie.photo, alt: "Capa do filme: #{movie.name}", class: 'card-img-top img-fluid mt-2' %>
            <div class="card-body d-flex flex-column ">
              <h5 class="card-title mt-auto"><small class="text-center d-block"><%= link_to movie.name, movie, class: 'link' %></small></h5>
              <p class="card-text">(<%= movie.year%>)</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    <div class="pagination">
      <%= paginate @films_on_display, param_name: :movies_page %>
    </div>
  </div>
</section>



  <section id="gender" class="full-height d-flex align-items-center justify-content-center bg-secondary-per">

    <div class="container text-center">

      <h2>Gêneros</h2>
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="service-box">
            <%= image_tag 'gender.svg', alt: '', class: 'img-fluid img-box' %>
          </div>
        </div>


        <div class="col-md-4">
          <div class="service-box">
            <h3><%= link_to 'Novo', new_gender_path, class: 'link' %></h3>
            <p>Cadastre um novo gênero para seu filme.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <h3><%= link_to 'Listar todos', genders_path, class: 'link' %></h3>
            <p>Veja nossa listagem de gêneros cadastrados.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="director" class="full-height d-flex align-items-center justify-content-center bg-dark text-white">
    <div class="container text-center">
      <h2>Diretores</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <h3><%= link_to 'Novo', new_director_path, class: 'link' %></h3>
            <p>Cadastre um novo diretor.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <%= image_tag 'director.svg', alt: 'Imagem multicolorida de uma câmera', class: 'img-fluid img-box' %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <h3><%= link_to 'Listar todos', directors_path, class: 'link' %></h3>
            <p>Veja nossa listagem de diretores cadastrados.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="movies" class="full-height d-flex align-items-center justify-content-center bg-secondary-per">

    <div class="container text-center">

      <h2>Filmes</h2>
      <div class="row align-items-center">

        <div class="col-md-4">
          <div class="service-box">
            <h3><%= link_to 'Novo', new_movie_path, class: 'link' %></h3>
            <p>Cadastre um novo filme.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <h3><%= link_to 'Listar todos disponíveis', movies_path, class: 'link' %></h3>
            <p>Veja nossa listagem de filmes cadastrados.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="service-box">
            <%= image_tag 'movie.svg', alt: 'Imagem multicolorida de uma câmera', class: 'img-fluid img-box' %>
          </div>
        </div>

      </div>
    </div>
  </section>