<div class="d-flex align-items-center bg-white full-height">
  <div class="container"> 
    <div class="row">
      <div class="col-4">
        <div class="container-fluid">
          <h2 class="display-2 text-center"><%= @gender.name.upcase %></h2>
          <small><%= link_to 'Editar', edit_gender_path %></small>
        </div>
        <div class="row justify-content-center mt-2">
          <p>Conheça as obras e Diretores aclamados do gênero <%= @gender.name.capitalize %></p>
        </div>
      </div>

      <div class="col-4">
        <div class="container-fluid">
          <h2 class="display-2 text-center">Obras</h2>
        </div>
        <div class="row justify-content-center mt-2">
          <p>Conheça as obras aclamadas do gênero <%= @gender.name %></p>
          <% if @movies %>
          <% @movies.each_with_index do |movie, index| %>
              <div class="row justify-content-center mt-2">
                <div class="col-4">
                  <p class="text-center"><%= index + 1 %>:</p>
                </div>

                <div class="col-8">
                  <p class="text-center"><%= link_to "#{movie.name}", movie %></p>
                </div>
              </div>
            <% end %>
            <div class="pagination">
              <%= paginate @movies, param_name: :movies_page %>
            </div>
          <% else %>
            <div class="row justify-content-center mt-2">
                <p class="text-center">Não existem filmes registrados</p>
              </div>
          <% end %>
        </div>
      </div>

      <div class="col-4">
        <div class="container-fluid">
          <h2 class="display-2 text-center">Diretores</h2>
        </div>
        <div class="row justify-content-center mt-2">
          <p>Conheça Diretores aclamados do gênero <%= @gender.name %></p>
          <% if @directors %>
            <% @directors.each_with_index do |director, index| %>
                <div class="row justify-content-center mt-2">
                  <div class="col-4">
                    <p class="text-center"><%= index + 1 %>:</p>
                  </div>

                  <div class="col-8">
                    <p class="text-center"><%= link_to "#{director.name}", director %></p>
                  </div>
                </div>
              <% end %>
            <div class="pagination">
              <%= paginate @directors, param_name: :directors_page %>
            </div>
            <% else %>
              <div class="row justify-content-center mt-2">
                  <p class="text-center">Não existem diretores registrados</p>
                </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>