<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-border nav-top-fixed">
  <div class="container-fluid">
    <%= link_to 'Catalogo de Filmes', root_path, class: 'navbar-brand home-section' %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <% if current_page? root_path %>
          <li class="nav-item">
            <%= link_to 'Gêneros', '#gender', class: 'nav-link', data: { turbo: false } %>
          </li>
          <li class="nav-item">
            <%= link_to 'Diretores', '#director', class: 'nav-link', data: { turbo: false } %>
          </li>
          <li class="nav-item">
            <%= link_to 'Filmes', '#movies', class: 'nav-link', data: { turbo: false } %>
          </li>
        <% else %>

          <li>
            <div class="dropdown me-1">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Diretores
              </button>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <%= link_to 'Novo Diretor', new_director_path, class: 'dropdown-item'%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Listar Diretores', directors_path, class: 'dropdown-item'%>
                </li>
              </ul>
            </div>
          </li>

          <li>
            <div class="dropdown me-1">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gêneros
              </button>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <%= link_to 'Novo gênero', new_gender_path, class: 'dropdown-item'%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Listar gêneros', genders_path, class: 'dropdown-item'%>
                </li>
              </ul>
            </div>
          </li>
        
          <li>
            <div class="dropdown me-1">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filmes
              </button>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <%= link_to 'Novo Filme', new_movie_path, class: 'dropdown-item'%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Listar Filmes', movies_path, class: 'dropdown-item'%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Filmes não listados', unpublished_path, class: 'dropdown-item'%>
                </li>
                
              </ul>
            </div>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
